main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main #books {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main #books-search {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 20px;
    height: fit-content;
}

main #book-query-div, main #book-query-limit-div {
    display: flex;
    flex-direction: column;
}

main #book-query-limit {
    width: fit-content;
}

main .book {
    display: flex;
    gap: 10px;
    align-content: center;
    height: fit-content;
}

main .book .book-info-div {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

main .book .book-cover {
    width: 100px;
    height: 150px;
}

main .book .book-title {
    font-size: 30px;
    margin: 0;
}

main .book .book-author {
    margin: 0;
}

main .book .book-isbn {
    margin: 0;
}