body {
    background-color: #EDE0D4;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}



main #books-search {
    width: 70vw;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: #E6CCB2;
    transition: 0.3s;
}

main #books-search.input-focus {
    width: 70vw;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: #7f5539;
}

main #book-query-div {
    width: 80%;
}

main #book-query {
    height: 50px;
    width: 100%;
    font-size: 20px;
    border-style: none;
    padding-left: 10px;
}

main #book-query:focus {
    outline: none;
}

main #book-query-submit {
    width: 20%;
    background-color: #DDB892;
    color: #210f04;
    border-style: none;
    border-left-style: solid;
    border-color: #E6CCB2;
    font-size: 24px;
    font-weight: 900;
    transition: 0.3s;
}

main #book-query-submit:hover {
    background-color: #e6ccb2;
    cursor: pointer;
}

main #book-query-limit-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

main #book-query-limit {
    width: fit-content;
}

main #books {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .book {
    display: flex;
    gap: 10px;
    align-content: center;
    height: fit-content;
    background-color: #E6CCB2;
    padding: 20px;
    border-radius: 4px;
    min-width: 70vw;
}

main .book .book-info-div {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}

main .book .book-cover {
    width: 100px;
    height: 150px;
}

main .book .book-title {
    font-size: 24px;
    font-weight: 800;
    text-decoration: underline;
    margin: 0;
}

main .book .book-author {
    margin: 0;
}

main .book .book-isbn {
    margin: 0;
}