header h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}
header p {
    margin: 0;
    text-align: center;
    font-size: 12px;
}
header {
    margin-bottom: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EDE0D4;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

main #query {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main #books-search {
    width: 70vw;
    display: flex;
    flex-direction: row;
    transition: 0.3s;
	filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

main #books-search.input-focus {
    margin-top: 20px;
    width: 70vw;
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
}

main #book-query-div {
    width: 95%;
}

main #book-query {
    height: 50px;
    width: 100%;
    font-size: 20px;
    border-style: none;
    padding-left: 20px;
    transition: 0.3s;
    font-weight: bold;
}

main #book-query:focus {
    width: 100%;
    padding-left: 10px;
    outline: none;
    font-weight: 200;
}

main #book-query-submit {
    min-width: 50px;
    width: 5%;
    background-color: #DDB892;
    color: #210f04;
    border-style: none;
    box-shadow: 2px 2px #b08968;
    border-color: #b08968;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

main #book-query-submit:hover {
    background-color: #e6ccb2;
    cursor: pointer;
}

main #book-query-limit-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

main #book-query-limit {
    width: fit-content;
}

main #books {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .book {
    display: flex;
    gap: 10px;
    align-content: center;
    height: fit-content;
    background-color: #E6CCB2;
    padding: 15px;
    border-radius: 4px;
    min-width: 50vw;
    transition: 0.3s;
    box-shadow: 5px 5px #7f5539;
}

main .book:hover {
    padding: 20px;
    background-color: #DDB892;
    box-shadow: 10px 10px #7f5539;
}

main .book .book-info-div {
    height: fit-content;
}

main .book .book-cover {
    width: 80px;
    height: 128px;
}

main .book .book-title {
    font-size: 28px;
    font-weight: 800;
    text-decoration: underline;
    margin: 0;
}

main .book .book-author {
    margin: 0;
}

main .book .book-isbn {
    margin: 0;
}

main #pagination {
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

main #pagination .page-arrow {
    background-color: #DDB892;
    color: #210f04;
    box-shadow: 2px 2px #b08968;
    border-color: #b08968;
    font-size: 24px;
    font-weight: 200;
    padding: 0 20px;
    transition: 0.3s;
}

main #pagination .page-arrow-empty {
    padding: 0 20px;
    font-size: 24px;
    font-weight: 200;
    color: #EDE0D4;
}

main #pagination .page-arrow:hover {
    background-color: #e6ccb2;
    cursor: pointer;
}

main #pagination .page-number {
    font-weight: 600;
    display: flex;
    align-items: center;
}